<div class="product-details" *ngIf="productDetails">
    <div class="detail-header">
        Product {{id}} Details
    </div>
    <div class="detail-img">
        <img src={{productDetails.image_addr}} alt="">
    </div>
    <form [formGroup]="detailForm" class="form" (ngSubmit)="editProduct()">
        <div class="name-container">
          <label for="productName">Name:</label>
          <input id="productName" formControlName="nameControl" type="text" name="name" required>                
        </div>
        <div class="description-container">
            <label for="productDesc">Description</label>
            <textarea id="producDesc" formControlName="descControl" type="text" name="desc">                
                </textarea>
          </div>
          <div class="price-container">
            <label for="productPrice">Price</label>
            <input id="productPrice" formControlName="priceControl" type="text" name="price" required>                
          </div>
       
        <button class="btn add-btn" type="submit" [disabled]="!detailForm.valid">Save</button>
      </form>

</div>